<div class="alert text-center alert-{{ score >= 80 ? 'success' : (score >= 50 ? 'warning' : 'danger') }}">
    <strong>{{ title }}</strong>
    <a href="#{{ id }}" class="alert-link"><i class="fas fa-anchor"></i></a>
    <div class="lead">{{ score|number_format(1, '.') }} %</div>
</div>
