.styleci.yml
.travis.yml
.editorconfig
.gitignore
.gitattributes
.editorconfig
.phpcs.xml.dist
.dockerignore
phpinsights.php
phpstan.neon.dist
phpunit.xml.dist
CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
README.md
RELEASE.md
/.git
/.github
/docker
/docs
/tests
/stubs
/art
