* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
.editorconfig export-ignore
.all-contributorsrc export-ignore
phpstan.neon.dist
phpunit.xml.dist
.travis.yml export-ignore
.styleci.yml export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
README.md export-ignore
docs export-ignore
