<?php

$finder = \PhpCsFixer\Finder::create()
    ->in(__DIR__.DIRECTORY_SEPARATOR.'src')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'tests')
    ->in(__DIR__.DIRECTORY_SEPARATOR.'bin')
    ->append(array('.php_cs.dist'));

$rules = array(
    '@Symfony' => true,
    'array_syntax' => array('syntax' => 'long'),
);

return \PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRules($rules)
    ->setFinder($finder);
