parameters:
    level: 5
    paths:
        - config
        - src
        - stubs

    bootstrapFiles:
        - %rootDir%/../../squizlabs/php_codesniffer/autoload.php

    excludePaths:
        - %rootDir%/../../../tests/*/Fixtures/*
        - %rootDir%/../../../tests/Fixtures/*
