.theme-container.testimonial-page-class > div.page > div.content {
  /* page-specific rules */
  max-width 80% !important;
}

.theme-container.testimonial-page-class > div.page > div.content {
  /* page-specific rules */
  max-width 80% !important;
}

.theme-container.testimonial-page-class > div.page > div.page-nav {
  /* page-specific rules */
  max-width 80% !important;
}

.theme-container.no-sidebar > main.home > header.hero > img {
  max-width:350px !important;
}