name: Standalone

on:
    pull_request: ~
    push:
        branches:
            - master

jobs:
    ci:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: true
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                php: ['7.4', '8.0', '8.1']
                dependency-version: [prefer-lowest, prefer-stable]
                composer-version: [v2]
                exclude:
                    -   dependency-version: prefer-lowest
                        php: '8.0'
                    -   dependency-version: prefer-lowest
                        php: '8.1'
        name: ${{ matrix.php }} - ${{ matrix.os }} - Composer ${{ matrix.composer-version }} --${{ matrix.dependency-version }}

        steps:
            - name: "Configure Git"
              if: ${{ matrix.os == 'windows-latest' }}
              run: |
                git config --system core.autocrlf false
                git config --system core.eol lf

            - name: Checkout
              uses: actions/checkout@v2

            - name: Cache dependencies
              uses: actions/cache@v1
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-php-${{ matrix.php }}-composer-${{ matrix.composer-version }}-${{ hashFiles('composer.json') }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: dom, mbstring, zip
                  coverage: none
                  tools: composer:${{ matrix.composer-version }}

            - name: Install Composer dependencies
              run: composer update --${{ matrix.dependency-version }} --ansi  --no-interaction --prefer-dist --no-dev

            - name: Test launching phpinsights
              run: php bin/phpinsights analyse --ansi -v --no-interaction --disable-security-check --flush-cache
