name: Standalone

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  ci:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        php: ['8.1', '8.2', '8.3', '8.4']
        dependency-version: [prefer-lowest, prefer-stable]
        composer-version: [v2]
        exclude:
          - dependency-version: prefer-lowest
            php: '8.1'
          - dependency-version: prefer-lowest
            php: '8.2'
          - dependency-version: prefer-lowest
            php: '8.3'

    name: ${{ matrix.php }} - ${{ matrix.os }} - Composer ${{ matrix.composer-version }} --${{ matrix.dependency-version }}

    steps:
      - name: Configure Git
        if: "${{ matrix.os == 'windows-latest' }}"
        run: |
          git config --system core.autocrlf false
          git config --system core.eol lf

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-composer-${{ matrix.composer-version }}-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip
          coverage: none
          tools: composer:${{ matrix.composer-version }}

      - name: Install Composer dependencies
        run: composer update --${{ matrix.dependency-version }} --ansi  --no-interaction --prefer-dist --no-dev

      - name: Test launching phpinsights
        run: php bin/phpinsights analyse --ansi -v --no-interaction --disable-security-check --flush-cache
